.introduction {
    width: calc(100% - 30vw);
    margin: auto;
    background: red;
    &Button {
        height: 50px;
        border: 1px solid grey;
        background: #ff7b00;
        color: #FFF;
        border-radius: 10px;
        transition: background-color .3s;

        &:hover {
            background-color: #d87607;
        }
    }
    &Header {
        margin: 0;
    }
    &Image {
        border: 2px solid #1f0e0d
    }
}