
.introduction {
    margin: auto;
    padding: 20px;
    border: 10px dashed gray;
    background: rgba(255, 255, 255, 0.8);
    font-family: 'Fira Sans', sans-serif;

    > * {
        color: #000;
    }

    &Button {
        margin-top: 50px;
        margin-left: auto;
    }

    &Header {
        margin: 0;
    }
    &Image {
        border: 2px solid #1f0e0d
    }
}