@mixin button($width, $height, $background, $color) {
	width: $width;
	min-height: $height;
	background: $background;
	color: $color;
	border: 1px solid black;
}

.button {
	&Link {
		text-decoration: none;
		display: block;
	}

	&Primary {
		@include button(auto, 40px, #e42929, #fff);
		border-radius: 5px;
		display: block;
        transition: background 0.2s, color;
        padding: 0 10px;

		&:hover {
			background: #fff;
			color: #e42929;
		}
	}

	&Secundary {
		height: 50px;
		border: 1px solid grey;
		background: #ff7b00;
		color: #fff;
		border-radius: 10px;
		transition: background-color 0.3s;

		&:hover {
			background-color: #d87607;
		}
    }

    &Right {
        margin-left: auto;
    }
}

.mg-left {
	margin-left: auto;
}

.mg-right {
	margin-right: auto;
}
