@import '../../general/colors.scss';
@import '../../general/mixins.scss';

button {
	padding: 0 10px;
}

.button {
	&Link {
		text-decoration: none;
		display: inline-block;
	}

	&Primary {
		@include button(auto, 40px, $primary-red, $white);
		border-radius: 5px;
		display: block;
        transition: background 0.2s, color;

		&:hover {
			background: $white;
			color: $primary-red;
		}
	}

	&Secundary {
		height: 50px;
		border: 1px solid grey;
		background: #ff7b00;
		color: $white;
		border-radius: 10px;
		transition: background-color 0.3s;

		&:hover {
			background-color: #d87607;
		}
    }

    &Right {
        margin-left: auto;
    }
}

.mg-left {
	margin-left: auto;
}

.mg-right {
	margin-right: auto;
}
