.cartList {
    position: fixed;
    background: #f1eda8;
    border-radius: 10px;
    width: 80vw;
    height: 600px;
    transform: translate(-50%, -50%);
    z-index: 99999;
    top: 50%;
    left: 50%;
    border: 1px solid #FFF;
    display: none;

    &Header {
        background: #df3939;
        height: 50px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &Close {
        color: #FFF;
        margin-left: auto;
        display: block;
        margin-left: calc(100% - 30px);
        transform: translate(0, 25%);
        cursor: pointer;
    }

    &Item {
        border-bottom: 3px solid #FFF;
        display: flex;
        align-items: center;
        transition: border-bottom 1s linear, background .5s linear ;
        padding: 20px;

        &:hover {
            background: #e2dd89;
        }

        & > * > p {
            color: black;
        }
    }

    &Input {
        width: 25px;
    }

    &Image {
        width: 80px;
        height: 84px;
        margin-right: 20px;
        
        &:hover {
            animation: shake 3s ease-in-out infinite;
            transform: rotate(360deg);
        }
    }
}

.pizza {
    &List {
        overflow: auto;
        list-style-type: none;
        height: 80%;
        padding: 0;
        margin-top: 0;
    }

    &Total {
        color: #eeff00;
        text-shadow: 1px 1px black;
    }
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}


@keyframes shake {
    0% {
        transform: rotateX(0deg);
    }
    50% {
        transform: rotateX(360deg);
    }
    100% {
        transform: rotateX(0deg);
    }
}