@import '../../general/mixins.scss';

.slide {
    &Title {
        text-shadow: 2px 2px #000;

        &Home {
            position: relative;
            animation: slideIn .6s linear;
        }
    }
}

@include Phone {
    .slide {
        &Title {
            padding-left: 10px;
        }
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        right: 20px;
        bottom: 5px;
    }

    to {
        opacity: 1;
        right: 0;
        bottom: 0;
    }
}